*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a{
    width: 1200px;
    height: 600px;
    background-color: chocolate; 
    display: flex;

    
}
.qizil{
    width: 100px;
    height: 100px;
    background-color: red;
}

.sariq{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.yashil{
    width: 100px;
    height: 100px;
    background-color: green;
}
.qora{
    width: 100px;
    height: 100px;
    background-color: black;
}